@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  /* border: solid 1px red; */
}

.app {
  display: flex;
  align-items: center;
  width: 70%;
  flex-direction: column;
  margin: auto;
}

.nav {
  width: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 1px yellow;
  height: 50px;
  background-color: rgba(0, 0, 255, 0.461);
  gap: 40px;
  padding: 10px 0px;
}

.nav_connect {
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 10px 20px;
}

.nft-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}

.nft-card {
  width: 350px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nft-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.nft-card_details {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.884);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 40%;
  padding-top: 25px;
  opacity: 0;
  transition: all 1s ease;
}

.nft-name {
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.nft-desc {
  text-align: center;
}

.nft-card_details:hover {
  opacity: 1;
}

.mint-form {
  width: 76%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.mint-form input {
  width: 700px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  font-size: 17;
  font-family: inherit;
}

.mint-form button {
  width: 80px;
  border-radius: 10px;
  border: 1px solid gray;
  color: white;
  background-color: peru;
  font-family: inherit;
  font-size: 17px;
  cursor: pointer;
}